body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(Images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
        display: flex;              /* enable flexbox */
      justify-content: center;    /* center horizontally */
      align-items: center; 
}

html {
  scroll-behavior: smooth;
 }

section, .team-section, .about-section, .network-section, .links-section {
  scroll-margin-top: 10px; } 
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0px;
  z-index: 9999;
  display: flex;
  justify-content:flex-start;
  transition: top 0.3s;
  background-color: #cec9c9;
  width: 100%;
}

#navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

a {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  background-color: #867f7f;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  margin-right: 10px;
}

a:hover {
  background-color: #a00000;
}

.container {
    width: 60%;
    height: 300px;
    background-color: #fffff0;
    border-radius: 6px;     
    box-shadow: 0 4px 12px rgba(0,0,0,0.25); 
    flex-direction: column; /* stack vertically */
  justify-content: center; /* vertical alignment inside container */
  align-items: center;  
}

.inside1{
         display: flex;              /* enable flexbox */
      justify-content: center;    /* center horizontally */
      align-items: center; 
          margin: 20px;
}

.containerThen {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: space-evenly;
}

/* Style for text input */
input[type="text"] {
    padding: 8px 12px;
    border: 2px solid rgb(128, 145, 145);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(149, 146, 146, 0.7);
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

/* Focus effect for text input */
input[type="text"]:focus {
    border-color: hwb(207 18% 18%);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

/* Style for submit button */
input[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #867f7f;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(149, 146, 146, 0.7);
    transition: 0.3s;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #a00000;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.6);
}
